<!--Materialize dependencies-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!--FAVICON-->
<link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/6AMietCWSXysmPDEiIEzXoJP2HzXYNbDHx83l42JqnX350YlyBGmwk7ithVCTIM2fbM=w300-rw">

<!--Stylesheets-->
<style>
body{
    background-color: white;
    background:linear-gradient(to bottom right,white,grey,grey,grey,#f58233);
}

h2{
    margin-top: 3%;
}

.container{
    margin-top:5%;
}

#header{
    text-align: center;
}

.card-title{
    text-align: center;
}

.card-title{
    color:black;
}

.card-title:hover{
    color:#f58233;
}

.modal-content{
    text-align: center;
}


</style>

<div id="header">

</div>

<div class="container">
    <div class="row">
        <% for(var i=0;i<items.length;i++){ %>

        <div class="col s6 l3">
            <a class="modal-trigger" href="#modal<%=i%>">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="<%= items[i]["profile_image"] %>">
                </div>
                <div class="card-content">
                    <span class="card-title"><%= items[i]["display_name"] %></span>
                </div>
            </div>
            </a>
        </div>




        <!-- Modal Structure -->
    <div id="modal<%=i%>" class="modal">
        <div class="modal-content">
          <h4><%= items[i]["display_name"] %></h4>
          <br>
          <img src="<%= items[i]["profile_image"] %>">
          <br><br>
          <span class="element">Location: <%= items[i]["location"]%></span>
          <br><br>
          <span class="element">Age: <%= items[i]["age"]%></span>
          <br><br>
          <div class="row element" id="badges">
            <div class="col s3"></div>
            <div class="col s2"><img src="https://png.icons8.com/color/50/000000/medal2.png"></div>
            <div class="col s2"><img src="https://png.icons8.com/color/50/000000/medal-second-place.png"></div>
            <div class="col s2"><img src="https://png.icons8.com/color/50/000000/medal2-third-place.png"></div>
            <div class="col s3"></div>
          </div>

          <div class="row" id="badges-scores">
                <div class="col s3"></div>
                <div class="col s2"><%=items[i]["badge_counts"]["gold"] %></div>
                <div class="col s2"><%=items[i]["badge_counts"]["silver"]%></div>
                <div class="col s2"><%=items[i]["badge_counts"]["bronze"]%></div>
                <div class="col s3"></div>
              </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
        </div>
      </div>
        <% } %>
    </div>
    </div>

<script>
$(document).ready(function(){
    $('.modal').modal();
  });
</script>